a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

li {
	list-style:none
}

#this {
	background: rgb(255, 108, 108);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
