<footer id="footer">
    <style>
        {% include "src/css/footer.css" %}
    </style>

    <div class="address-hours-row">
        <div>50 SOUTH BUCKHOUT STREET
            SUITE 304
            IRVINGTON, NY 10533
        </div>
        <div>
            <p>HOURS</p>
            <p>MONDAY - SUNDAY</p>
            <p>BY APPOINTMENT FOR YOUR CONVENIENCE</p>
        </div>
    </div>
    <div class="phone-email-row">
        <div>
            914-274-8388
        </div>
        <div>
            Info@PushTrainingStudio.com
        </div>
    </div>
    <div class="privacy-policy-row">
        <a>Privacy Policy</a>
    </div>
</footer>